
#root {
    /* overflow: hidden;*/
    overflow: scroll;
    width: 100%;
    min-width: 1190px; 
    background-color : #f0f1f2;
}

/* header */
#header {
    height:55px;
    padding: 5px;
    background-color: black;
}

/* body */
#container {
    height: auto;
    margin: 2%;
}

#row {
    width: 100%;
    height: auto;
    display: inline-block;
    padding: 2%;
}

/* navigation */
#logo-area {
    width:150px;
    height:50px;
    float: left;
}

#nav-area {
    height: 50px;
    background-color: black;
}

.nav-link {
    text-decoration: none;
    font-size: 15px;
    color: white;
}

.nav-link:hover {
    color:white;
    border-bottom: 2px solid white;
}

/* real time stock price */
.Real-Time-Stock-Price {
    width: 560px;
    height: 100%;
    float: left;
    font-size: 12px;
}

.card-header {
    color: white;
    font-size: 12px;
}

.card-body {
    /* height: 360px; */
    height: auto;
}
.thead-dark {
    text-align: center;
}

.price-up {
    color: red;
}

.price-down {
    color: blue;
}

.table-hover tr:hover td {
    background-color: #f7abab;
}

/* predict stock price */
.Predict-Stock-Price {
    width: 45%;
    height: 404px;
    float: right;
}

#text-mid {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

#select-stock{
    color: #57a80a;
    border-bottom: 4px dotted #f7abab;
}

#select-price{
    color: #57a80a;
    border-bottom: 4px dotted #f7abab;
}

/* sharp rise */
.Sharp-Rise{
    width: 25%;
    height: 100%;
    float: left;
    font-size: 12px;
}

#borad-area{
    margin: 10px 150px;
}

/* board */

#thead-success{
    background-color: #28a745;;
    text-align: center;
}

#borad-view-area{
    background-color: white;
    border-radius: 10px;
    margin: 10px 150px;
    padding: 10px 20px;
}
.view-content-header{
}

.view-content-body{
    border-bottom: solid;
}

.board-button{
    margin-top: 30px; 
    float: right;
}

.view-content-foot{
    height: 80px;
    margin: 30px 40%;
    padding-top: 25px;
    border: solid;
    border-radius: 30px;
    border-color: #fff6ba;
    border-width: thin;
    text-align: center;
    background-color: #fff6ba;
}

#view-table-border{
    margin-top: 30px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}


#view-table-border > thead > tr{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#view-table-border > thead > td{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

/* comment */

#comment-area{
    border-radius: 10px;
    margin: 30px 150px;
    margin-top: 100px;
    padding: 10px 20px;
    background-color: white;
}

#comment-header{
    margin-top: 30px;
    border-bottom: solid;
    border-width: thin;
}

#comment-body{
    margin: 15px 2px;
    border-bottom: solid;
    border-width: thin;
}

#comment-foot{
    margin-top: 40px;
}

.comment-user-input-size{
    height: 25px;
    margin-bottom: 5px;
    margin-right: 10px;
}

.re_content {
	width:75%;
	height: 56px; 
}

.re_bt {
	position: absolute;
	width:100px;
	height:56px;
	font-size:16px;
	margin-left: 10px; 
}

/* recommend-board */

#Recommend-Board{
    margin-left: 20px;
    width: 30%;
    height: 100%;
    float: left;
    font-size: 12px;
}


/* login */

#login-area{
    margin-top: 100px;
    margin-left: 300px;
}

.id{
    width:300px;
    height: 40px;
    margin-top: 50px;
    margin-bottom: 5px;
    margin-right: 10px;
}

.pw{
    width:300px;
    height: 40px;
    margin-bottom: 5px;
    margin-right: 10px;
}

.btn-info{
    margin-top: 30px;
    margin-bottom: 10px;
    width: 300px;
    height:50px;
    background-color: skyblue;
}

.logo-title{
    margin: 0% 23%;
    font-size: 70px;
}

/* signup */

#signup-area{
    margin: 10% 40%;
}

.sign-id{
    width:300px;
    height: 40px;
    margin-bottom: 30px;
    margin-right: 10px;
}

.sign-pw{
    width:300px;
    height: 40px;
    margin-bottom: 30px;
    margin-right: 10px;
}

.sign-email{
    width:300px;
    height: 40px;
    margin-bottom: 30px;
    margin-right: 10px;
}

/* writer */

#writer-area{
    background-color: white;
    padding: 40px;
    margin: 30px 180px;
    border: double black;
}

.write-user-info{
    margin-bottom: 15px;
}

.in-title{
    margin-bottom: 15px;
}

.in-content{
    margin-bottom: 15px;
}

.write-bt{
    float: right;
    margin-right: 0px;
}

/* information */

#graph-area{
    width:750px;
    height: 320px;
    margin: 10px 10px; margin-left: 100px;
    padding-top: 30px; padding-left: 20px;
    background-color: white;
    border: 2px solid black;
    float: left;
}

.real-time{
    width: 1050px;
    height: 100%;
    float: left;
    font-size: 12px;
    margin-left: 100px; 
    text-align: center;
}