* {margin:0; padding:0;}
.text-left { text-align: left;}
.text-center { text-align: center;}
.text-right { text-align: right; }
.font-black { color: black;}
.font-red {color: red;}

#root {
    background-color: #f0f1f2;
}

#wrapper {
    max-width: 1920px;
    margin: 0 auto;
}

/* header - 메뉴 */
ul li {list-style:none;}
.clearfix:after{content:'';display:block; clear:both;}
.logo{position: absolute; left: 15px; top: 3px;}
header {	
	background:linear-gradient(white 50px, rgba(255,255,255,0.5) 50px, rgba(255,255,255,0.5) );
    height:50px; 
    overflow:hidden;
    position:absolute;
    left:0; right:0; top:0;
    z-index: 1;
}
nav {width:100%; margin:0 auto; font-family: 'Noto Sans KR', sans-serif; font-weight: 700; font-size: 17px;}
nav > ul > li {float:right; line-height:50px; margin-right:40px; position: relative;}
nav > ul > li ul{ width:100%;}
nav > ul > li:hover {color: #ffcc00;}
nav > ul > li > ul > li {color: black;}
nav > ul > li > ul > li:hover {color: #ffcc00;}
.nav-style {color: black;}
a.nav-style:link { text-decoration: none;}
a.nav-style:hover { color: #ffcc00;}




/* predicted price */
.predicted-price {
    position: relative;
    margin-top: 50px;
    height: 450px;
    background-image: url(../image/sky_lines_1400x1050.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1920px 100%;
    font-family: 'Nanum Pen Script', cursive;
}

.graph {
    position: relative;
    margin: 0 auto;
    width: 1349px;
    height: 450px;
}

.graph-area {
    position: relative;
    top: 150px;
    left: 20px;
    margin-left: 30px;
    padding: 0px 10px;
    padding-top: 20px;
    border:2px solid rgba(255,255,255,0);
    border-top-right-radius: 1em;
    border-top-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border-bottom-left-radius: 1em;
    width: 400px;
    height: 120px;
    float: left;
}
/*
#barchart_material_1 {
    position: relative;
    top: 100px;
    left: 10%;
    width: 350px;
    height: 100px;
    font-size: 10px;
    float: left;
}
#barchart_material_2 {
    position: relative;
    top: 100px;
    left: 10%;
    width: 350px;
    height: 100px;
    font-size: 10px;
    float: left;
}
#barchart_material_3 {
    position: relative;
    top: 100px;
    left: 10%;
    width: 350px;
    height: 100px;
    font-size: 10px;
    float: left;
}
*/

/* main container */
.main-container { 
    overflow: hidden;
    position: relative;
    width: 1024px; 
    height: auto;
    /* height: 800px; */ 
    margin: 0 auto;
    padding-bottom: 100px;
    background-color: white; 
}
.top-stock-price {
    float: left;
    position: relative; 
    top: 20px; 
    left: 40px; 
    width: 550px; 
    height: 409px; 
}
.card { font-size: 12px; }
div.card-header { padding: 8px 10px; color: white; }
div.bg-danger { background-color: #014f60!important; }
div.card-body { padding: 2px 2px; height: 372px;}
.table-hover tr:hover td { background-color: #c9c9c9 ; }
.price-up { color: red; }
.price-down { color: blue; }

.top-board {
    float: left;
    position: relative; 
    top: 20px; 
    left: 70px; 
    width: 356px; 
    height: 409px; 
}

.top-board-title {
    color: black;
    font-size: 13px;
}

.title-li {
    margin-left: 12px;
    margin-top: 5px;
}

.cnt-reply {
    font-size: 13px;
    color: #3d85c6;
}

ul.tabs {
    margin: 0px 5px;
    margin-top: 5px;
    padding: 0;
    overflow: hidden;
    list-style: none;
    
}

ul.tabs li { 
    float: left;
    background: #e8e8e8;
    color: #636363;  
    border-top: 2px solid white;
    padding: 5px 15px;
    cursor: pointer;
}

ul.tabs li.current {
    background: white;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    border-top: 2px solid #fe9661;
    font-weight: bold;
    color: black;
}

.tab-content{
    display: none;
    background: white;
    border: 1px solid #e0e0e0;
    padding: 5px;
    margin: 0px 5px;
}

.tab-content.current{ display: inherit; }

/* board */
.sub-container { 
    margin: 0 auto; 
    margin-top: 50px;
    width: 1024px; 
    height: auto;
    padding-bottom: 50px;
    border-top: 1px solid #f0f1f2;
    background-color: white; 
}

.top-banner {
    margin: 0 auto;
    margin-top: 50px;
    width: 800px;
    height: 50px;
    border: 1px solid #636363;
    border-radius: 0.5em;
    background: linear-gradient( 45deg, #3d85c6,blueviolet);
}

.top-banner-recommend {
    margin: 0 auto;
    margin-top: 50px;
    width: 800px;
    height: 50px;
    border: 1px solid #636363;
    border-radius: 0.5em;
    background: linear-gradient( 45deg, #d64b5a, blueviolet);
}

.top-banner-font{
    position: relative;
    top: 3px;
    left: 20px;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 30px;
    color: white;
}

.contents {
    margin: 0 auto;
    width: 800px; 
}

.board-table {
    margin-top: 30px;
    width: 800px;
}
.board-thead {
    box-shadow: 0 0 0 2px #919df2;
    border-radius: 30px;
}

.board-th {
    padding: 5px 0px;
    font-size: 12px;
    text-align: center;
}

.board-tbody:before {
    line-height:1.5em; 
    content:"\200C"; 
    display:block;
}

.board-tr { border-top: 1px dotted #e3e3e3; }
.board-td { font-size: 13px; padding: 5px 0px; text-align: center;}

.board-btn {
    margin: 0 auto;
    margin-top: 30px;
    width: 800px;
    height: 50px;
    
    border-top: 2px solid #919df2; 
}
.search-form {
    margin-top: 20px;
    float: left;
    height: 30px;
}

.write-btn{
    float: right;
    font-size: 12px;
    width: 100px;
    height: 30px;
    margin-top: 15px;
    border: 0;
    border-radius: 2em;
    background-color: #0066b3;
    color: white;
}
.write-btn:focus{ outline: 0;}

.search-select {
    font-size: 12px;
}

.search-input {
    border: 1px solid grey;
    padding-left: 5px;
    width: 200px;
    font-size: 12px;
}
.search-input:focus { outline: 0;}

.search-btn {
    width: 50px;
    border: 1px solid grey;
    border-radius: 1em;
    background-color: white;
    font-size: 12px;
}

.pagination {
    margin: 0 auto;
    margin-top: 30px;
    width: 300px;
    height: 35px;
    border-top: 2px solid #919df2;
}

.pager {
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
}

.previous {
    margin: 5px 5px;
    display: inline-block;
}

.not-selected {
    margin: 5px 5px;
    display: inline-block;
}

.selected {
    margin: 5px 5px;
    display: inline-block;
}
.next {
    margin: 5px 5px;
    display: inline-block;
}
.paging-font { text-decoration: underline; font-weight: bold;}

.sub-nav {
    margin-top: 30px;
    border-bottom: 1px solid #cccccc;
}

.sub-nav-list {
    width: 800px;
    height: 30px;
    margin: 0 auto;
}

.sub-ul { height: 30px; margin: 0; margin-left: 2px}
.sub-nav-list > ul li { float: left; font-size: 12px; }
.sub-text {color: black; text-decoration: black; }
.sub-text > li { 
    width: 100px; 
    height: 30px; 
    text-align: center; 
    padding-top: 5px; 
    border: 1px solid #cccccc; 
    border-bottom: 1px solid white;
    margin-top: 1px; 
    margin-left: -1px;
}
.sub-text > li:hover { background-color: #9c9c9c; }
.sub-text:hover { color: white; text-decoration: black; }

.board-section {
    margin: 0 auto;
    margin-top: 60px;
    width: 802px;
    height: auto;

}
.view-information {
    height: 80px;
    border: 1px solid #919191;
    border-top: 4px solid #7a7a7a;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 2px solid #919191;
}

.view-title { height: 40px; margin: 0 auto;  padding: 10px 0px; }
.writer-info { height: 40px; margin: 0 auto;  padding: 10px 0px; border-top: 1px solid #919191; }
.view-title > li  { float: left; font-size: 12px; }
.writer-info > li { float: left; font-size: 12px; }
.subject { width: 100px; text-align: center; }
.subject-two { width: 50px; text-align: center; }
.title-text { width: 700px; padding: 0px 15px; }
.writer-text { width: 320px; padding: 0px 15px; }
.view-text { width: 50px; }
.up-text { width: 50px; }
.date-text { width: 130px; }

.view-contents {
    padding: 100px 20px;
    border-left: 1px dashed #919191;
    border-right: 1px dashed #919191;
}

.view-btn {
    padding-top: 20px;
    /*border-bottom: 2px solid #919191;*/
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 100px;
    border-left: 1px dashed #919191;
    border-right: 1px dashed #919191;
}

.recommend {
    margin: 0 auto;
    border: 1px solid #919191;
    border-radius: 20px;
    width: 150px;
    height: 50px;
}


.like-btn {
    margin-top: 3px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 50px;
}

.dislike-btn {
    margin-top: 3px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 50px;
    transform:rotate(180deg);
}

.like-btn:hover { background-color: #ffcc00;}
.like-btn:focus{ outline: 0;}
.dislike-btn:hover { background-color: #ffcc00;}
.dislike-btn:focus{ outline: 0;}

.comment {
    margin-top: 50px;
    width: 800px;
    height: auto;
    border-top: 3px solid #7a7a7a;
    border-left: 1px solid #919191;
    border-right: 1px solid #919191;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom: 3px solid #7a7a7a;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.reply-main {
    border-bottom: 1px solid #919191;
    margin: 0px 20px;
}

.reply-info {
    margin-top: 10px;
}

.reply-id { font-size: 12px; font-weight: bold; }
.reply-date { font-size: 11px; color: #7d7d7d; }
.reply-func { font-size: 11px; }

.reply-content {
    margin: 20px 0px;
}
.reply-text {   
    font-size: 12px;
}
.reply-sub2 {
    margin-bottom: 10px;
    margin-left: 30px;
    padding: 0px 10px;
    border: 1px solid #919191;
    background-color: #f7f7f7;
}

.comment-write {
    margin-top: 30px;
    padding: 10px 20px;
    padding-left: 35px;
    width: 800px;
    height: 80px;
}

.comment-write2 {
    margin-top: 20px;
    padding: 10px 20px;
    padding-left: 35px;
    width: 750px;
    height: 80px;
}

.comment-user-form {
    float: left;
    height: 60px;
    font-size: 12px;
}
.comment-write-form {
    float: left;
    height: 60px;
}

.comment-btn-form {
    float: left;
    margin-left: 10px;
    height: 60px;
}

.comment-user-size{
    display: block;
    height: 25px;
    margin-bottom: 5px;
    margin-right: 5px;
    padding-left: 5px;
}

.comment-write-size {
    width: 550px;
    height: 55px;
    font-size: 12px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.comment-write-size2 {
    width: 500px;
    height: 55px;
    font-size: 12px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.comment-btn {
    border: 0px;
    border-radius: 10px;
    width: 70px;
    height: 55px;
    font-size: 12px;
    color: white;
    background-color: #616161;
}

.comment-btn:focus{ outline: 0;}
.empty {font-size: 12px; font-weight: bold; display: inline-block; margin-top: 15px; margin-left: 35px;}

.write-section {
    border: 1px solid #919191;
    border-radius: 20px;
    border-top: 3px solid #7a7a7a;
    margin: 0 auto;
    margin-top: 60px;
    width: 902px;
    height: auto;
}

.write-contents {
    margin: 0 auto;
    width: 902px; 
}

.in-info {
    margin: 0 auto;
    margin-top: 40px;
    width: 800px;
    font-size: 12px;
}

.in-name {
    height: 30px;
}

.in-pw {
    margin-left: 20px;
    height: 30px;
}

.in-title{
    width: 800px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.in-content{
    margin: 0 auto;
    width: 800px;
}

.input-normal {
    padding-left: 5px;
}

.write-submit {
    width: 800px;
    height: 40px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
}

.write-submit-btn {
    float: right;
    font-size: 12px;
    width: 100px;
    height: 30px;
    border: 0;
    border-radius: 50px;
    background-color: #0066b3;
    color: white;
}
.write-submit-btn:focus {outline: 0;}

.submit-btn {
    width: 800px;
    height: 40px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 0px;
}

.modify-submit-btn {
    float: right;
    font-size: 12px;
    width: 100px;
    height: 30px;
    border: 0;
    border-radius: 50px;
    background-color: #0066b3;
    color: white;
}
.modify-submit-btn:focus {outline: 0;}

.delete-submit-btn {
    float: right;
    margin-left: 20px;
    font-size: 12px;
    width: 100px;
    height: 30px;
    border: 0;
    border-radius: 50px;
    background-color: #0066b3;
    color: white;
}
.delete-submit-btn:focus {outline: 0;}

.delete-contents {
    margin: 0 auto;
    width: 802px; 
}

.delete-section {
    border: 1px solid #919191;
    border-radius: 20px;
    border-top: 3px solid #7a7a7a;
    margin: 0 auto;
    margin-top: 60px;
    width: 802px;
    height: 400px;
}

.delete-pw {
    border: 2px solid #e03a3a;
    margin: 0 auto;
    margin-top: 100px;
    width: 500px;
    height: 200px;
    text-align: center;
    font-size: 15px;
}

.del-text {
    display: inline-block;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 20px;
}

.delete-btn {
    margin-top: 20px;
    font-size: 12px;
    border: 1px solid grey;
    width: 100px;
    height: 30px;
}

.sub-container-grey { 
    margin: 0 auto; 
    margin-top: 50px;
    width: 1024px; 
    height: auto;
    /*padding-bottom: 50px;*/
    border-top: 1px solid #f0f1f2;
    background-color: #f0f1f2; 
}

.login-contents {
    margin: 0 auto;
    width: 802px; 
}

.login-section {
    margin: 0 auto;
    margin-top: 50px;
    width: 802px;
    height: auto;
    text-align: center;
}

.logo-title {
    font-size: 70px;
}

.login {
    font-size: 14px;
    margin: 0 150px;
    border-top: 2px solid black;
    border-radius: 20px;
}

.id{
    width:300px;
    height: 40px;
    margin-top: 70px;
    margin-bottom: 5px;
    margin-right: 10px;
    padding-left: 5px;
}

.pw{
    width:300px;
    height: 40px;
    margin-bottom: 5px;
    margin-right: 10px;
    padding-left: 5px;
}

.btn-info{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
    height:50px;
    background-color: skyblue;
}

.social-login {
    border-top: 1px solid #919191;
    margin-top: 0px;
    margin-bottom: 20px;
}

.social-img {
    margin-top: 10px;
}

.signup {
    font-size: 14px;
    font-weight: bold;
    margin: 0 150px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    border-radius: 20px;
    padding-top: 30px;
    padding-left: 50px;
    margin-bottom: 50px;
    background-color: #fafafa;
}

.sign-id{
    width:210px;
    height: 30px;
    padding-left: 5px;
}

.sign-pw{
    width:210px;
    height: 30px;
    padding-left: 5px;
}

.sign-email{
    width:210px;
    height: 30px;
    padding-left: 5px;
}

.signup-input {
    margin: 0 auto;
    width: 350px;
    text-align: left;
}

.check-btn{
    font-size: 13px;
    color: white;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: #4cba7e;
    margin-left: 18px;
    height: 30px;
    width: 70px;
}

.check-text{
    font-weight: normal;
    margin-bottom: 0px;
    font-size: 12px;
    height: 18px;
}

.info-text{
    font-weight: normal;
    font-size: 12px;
    height: 18px;
    margin-bottom: 0px;
}

#check-id-text, #check-pw-text2, #check-nick-text { margin-bottom: 15px;}

/* --------------------------------------------- */

/*
#root {
    overflow: scroll;
    width: 100%;
    min-width: 1190px; 
    background-color : #f0f1f2;
}*/


/* header */
/*
#header {
    height:55px;
    padding: 5px;
    background-color: black;
}*/

/* body_*/
#container {
    height: auto;
    margin: 2%;
}

#row {
    width: 100%;
    height: auto;
    display: inline-block;
    padding: 2%;
}

/* navigation */
#logo-area {
    width:150px;
    height:50px;
    float: left;
}

#nav-area {
    height: 50px;
    background-color: black;
}

.nav-link {
    text-decoration: none;
    font-size: 15px;
    color: white;
}

.nav-link:hover {
    color:white;
    border-bottom: 2px solid white;
}

/* real time stock price */
.Real-Time-Stock-Price {
    width: 560px;
    height: 100%;
    float: left;
    font-size: 12px;
}

/*
.card-header {
    color: white;
    font-size: 12px;
}

.card-body {
    // height: 360px; 
    height: auto;
} 

.thead-dark {
    text-align: center;
} */


/*
.table-hover tr:hover td {
    background-color: #f7abab;
}*/

/* predict stock price */
.Predict-Stock-Price {
    width: 45%;
    height: 404px;
    float: right;
}

#text-mid {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

#select-stock{
    color: #57a80a;
    border-bottom: 4px dotted #f7abab;
}

#select-price{
    color: #57a80a;
    border-bottom: 4px dotted #f7abab;
}

/* sharp rise */
.Sharp-Rise{
    width: 25%;
    height: 100%;
    float: left;
    font-size: 12px;
}

#borad-area{
    margin: 10px 150px;
}

/* board */

#thead-success{
    background-color: #28a745;;
    text-align: center;
}

#borad-view-area{
    background-color: white;
    border-radius: 10px;
    margin: 10px 150px;
    padding: 10px 20px;
}
.view-content-header{
}

.view-content-body{
    border-bottom: solid;
}

.board-button{
    margin-top: 30px; 
    float: right;
}

.view-content-foot{
    height: 80px;
    margin: 30px 40%;
    padding-top: 25px;
    border: solid;
    border-radius: 30px;
    border-color: #fff6ba;
    border-width: thin;
    text-align: center;
    background-color: #fff6ba;
}

#view-table-border{
    margin-top: 30px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}


#view-table-border > thead > tr{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#view-table-border > thead > td{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

/* comment */

#comment-area{
    border-radius: 10px;
    margin: 30px 150px;
    margin-top: 100px;
    padding: 10px 20px;
    background-color: white;
}

#comment-header{
    margin-top: 30px;
    border-bottom: solid;
    border-width: thin;
}

#comment-body{
    margin: 15px 2px;
    border-bottom: solid;
    border-width: thin;
}

#comment-foot{
    margin-top: 40px;
}


.re_content {
	width:75%;
	height: 56px; 
}

.re_bt {
	position: absolute;
	width:100px;
	height:56px;
	font-size:16px;
	margin-left: 10px; 
}

/* recommend-board */

#Recommend-Board{
    margin-left: 20px;
    width: 30%;
    height: 100%;
    float: left;
    font-size: 12px;
}


/* login */

#login-area{
    margin-top: 100px;
    margin-left: 300px;
}



/* signup */

#signup-area{
    margin: 10% 40%;
}



/* writer */

#writer-area{
    background-color: white;
    padding: 40px;
    margin: 30px 180px;
    border: double black;
}

.write-user-info{
    margin-bottom: 15px;
}



.in-content{
    margin-bottom: 15px;
}

.write-bt{
    float: right;
    margin-right: 0px;
}

/* information */

#graph-area{
    width:750px;
    height: 320px;
    margin: 10px 10px; margin-left: 100px;
    padding-top: 30px; padding-left: 20px;
    background-color: white;
    border: 2px solid black;
    float: left;
}

.real-time{
    width: 1050px;
    height: 100%;
    float: left;
    font-size: 12px;
    margin-left: 100px; 
    text-align: center;
}