<footer>
    <div class="creator-section">
    <div class="creator">
        <a> 김현재 </a><br>
        <a> khj40286@naver.com </a>
    </div>
    <div class="creator">
        <a> 김경중 </a><br>
        <a> cjssla1@google.com </a>
    </div>
    <div class="creator">
        <a> 김진용 </a><br>
        <a> w987987@naver.com  </a>
    </div>
</div>
</footer>