<header>
    <a class="logo" href="/">
        <img src ="/../image/jucker-logo.png" style="height:40px;">
    </a>
    <nav>
        <ul class="clearfix">
            <% if(session.passport){ %>
                <li class="first"> <a class="nav-style" > <%= session.passport.user[0].nickname %></a> 
                    <ul>
                        <a class="nav-style" href="/logout"><li>로그아웃</li></a>
                    </ul>
                    
                </li>
            <% } else { %>
                <li class="first"> <a class="nav-style" href="/login">로그인</a>
                    <!--
                    <ul>
                        <li>sub menu</li>
                        <li>sub menu</li>
                        <li>sub menu</li>
                    </ul>
                    -->
                </li>
            <% } %>        
            <li class="first"> <a class="nav-style" href="/predict/1">예측 정보</a>

            </li>
            <li class="first"> 모의 투자
                <ul>
                    <a class="nav-style" href="/deal"><li>거래</li></a>
                    <a class="nav-style" href="/investInfo"><li>내정보</li></a>
                    <a class="nav-style" href="/rank/1"><li>랭킹</li></a>
                </ul>
            </li>
            <li class="first"> 커뮤니티
                <ul>
                    <a class="nav-style" href="/board/1"><li>자유 게시판</li></a>
                    <a class="nav-style" href="/board/recommend/1"><li>추천 게시판</li></a>
                </ul>
            </li>

        </ul>
    </nav>
</header>
