<header>
    <a class="logo" href="/">
        <img src ="../image/jucker-logo.png" style="height:40px;">
    </a>
    <nav>
        <ul class="clearfix">
            <li class="first"> 로그인
                <ul>
                    <li>sub menu</li>
                    <li>sub menu</li>
                    <li>sub menu</li>
                </ul>
            </li>
            <li> 금융 정보
                <ul>
                    <li>sub menu</li>
                    <li>sub menu</li>
                    <li>sub menu</li>
                </ul>
            </li>
            <li> 예측 정보
                <ul>
                    <li>sub menu</li>
                    <li>sub menu</li>
                    <li>sub menu</li>
                </ul>
            </li>
            <li> 모의 투자
                <ul>
                    <li>sub menu</li>
                    <li>sub menu</li>
                    <li>sub menu</li>
                </ul>
            </li>
            <li> 커뮤니티
                <ul>
                    <li>자유 게시판</li>
                    <li>추천 게시판</li>
                </ul>
            </li>

        </ul>
    </nav>
</header>

<!-- 
<div id="header">
    <div id="logo-area">
        <a href="/">
            <img src ="../image/logo.jpeg" height="50">
        </a>
    </div>
    <div id="nav-area">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="/information">금융 정보</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">예측 정보</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">모의 투자</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="navbardrop" data-toggle="dropdown">게시판</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/board">자유게시판</a>
                    <a class="dropdown-item" href="/recommend-board">추천게시판</a>
                </div>
            </li>
                <li class="nav-item dropdown">
                    <% if(session.customerid){ %>
                    <a class="nav-link dropdown-toggle" href="" id="navbardrop" data-toggle="dropdown"> <%= session.customerid %> </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/logout">로그아웃</a>
                    </div>
                </li>
                <% } else if(session.passport) { %>
                    <a class="nav-link dropdown-toggle" href="" id="navbardrop" data-toggle="dropdown"> <%= session.passport.user[0].email %> </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/logout">로그아웃</a>
                    </div>
                </li>

            <% } else{ %>
                <li class="nav-item">
                    <a class="nav-link" href="/login">로그인</a>
                </li>
            <% } %>
          </ul>
    </div>
</div>
-->