<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include ("head") %>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="../js/summernote/summernote-lite.js"></script>
    <script src="../js/summernote/lang/summernote-ko-KR.js"></script>
    
    <link rel="stylesheet" href="../css/summernote/summernote-lite.css">
    
</head>

<body id="root">
    <%- include ("header") %>
    <div id="wrapper">
        <div class="sub-container">
            <div class="sub-nav">
                <div class="sub-nav-list">
                    <ul class="sub-ul">
                        <a class="sub-text" href="/board/1"><li> 자유게시판 </li></a>
                        <a class="sub-text" href="/board/recommend/1"><li> 추천게시판 </li></a>
                    </ul>
                </div>
            </div>
            <div class="write-contents">
                <div class="write-section">
                    <form action="/writer" method="post">
                        <div class="in-info">     
                            <input name="name" id="uname" class="in-name input-normal" placeholder="아이디" maxlength="100" required autofocus />                          
                            <input type="password" name="pw" id="upw" class="in-pw input-normal" placeholder="비밀번호" required />                                                
                            <input name="title" id="utitle" class="in-title input-normal" placeholder="제목을 입력해 주세요." maxlength="100" required />
                        </div>
                        <div class="in-content">
                            <textarea id="summernote" name="content"></textarea>
                            <script>
                            $('#summernote').summernote({
                                //placeholder: 'Hello bootstrap 4', 
                                height: 500,
                                fontsize: 12,
                                lang: "ko-KR",
                                toolbar: [
                                    // [groupName, [list of button]]
                                    ['Font Style', ['fontname']],
                                    ['style', ['bold', 'italic', 'underline']],
                                    ['font', ['strikethrough']],
                                    ['fontsize', ['fontsize']],
                                    ['color', ['color']],
                                    ['para', ['ul', 'ol', 'paragraph']],
                                    ['table', ['table']],
                                    ['height', ['height']],
                                    //['Insert', ['picture']],
                                    ['Insert', ['link']]
                                ]
                            });
                            $('#summernote').summernote('fontSize', 12);
                            </script>
                        </div>
                        <div class="write-submit">
                            <button class="write-submit-btn" type="submit">글 작성</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
	
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/jquery.color-animation/1/mainfile"></script>
    <script>
		$(function(){
			var $firstMenu = $('nav > ul > li'), $header = $('header');
			$firstMenu.mouseenter(function(){
				$header.stop().animate({height:'300px'}, 300);
			})
			.mouseleave(function(){
				$header.stop().animate({height:'50px'}, 300);
			});

		});
    </script>
</body>
</html>