<!DOCTYPE html>
<html lang="ko">
<head>
	<%- include ("head") %>
</head>

<body id = "root">
	<%- include ("header") %>
	<div id="container">
		<div id="row">
            <div id="login-area">
                <b class="logo-title">JUCKER</b>
                <form action="/login" method="post">
                    <div style="float: left;">
                        <div>
                            <input class="id" type="text" name="userEmail" placeholder="아이디" required >
                        </div>
                        <div>
                            <input class="pw" type="password" name="password" size="30" height="50" placeholder="비밀번호" required>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-info" type="submit" >로그인 </button>
                        </div>
                        <div>
                            <a href='/signup'> 회원가입 </a>
                        </div>
                        <a href="/login/kakao">
                            <img src ="../image/kakao_login.png">
                        </a>
                        <div style="margin-top: 10px;">
                        <a href="/login/naver">
                            <img src ="../image/naver_login.png" width="300" height="50" >
                        </a>
                        </div>
                    </div>
                    <!--
                    <table>
                        <tr>
                            <td>이메일 : </td>
                            <td><input type="text" name="userEmail"></td>
                        </tr>
                        <tr>
                            <td>비번 : </td>
                            <td><input type="password" name="password"></td>
                        </tr>
                        <tr>
                            <td><input type="submit" value="로그인"></td>
                        </tr>
                    </table>
                -->
                </form>
            </div>
		</div>	
	</div>
	
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>